doctype
html(lang="en")
  head
    script(src = 'js/webdb.js')
    script(src = 'js/sql.js')
    script(type="application/javascript", src="http://l2.io/ip.js?var=myip")
    script(src = 'js/main.js')
    link(rel='stylesheet', href='css/style.css')
  body(onload="init()")
    -var x = "../backend/save.php";
    -var input = {"yes":{"type":"button","value":"1"},"no":{"type":"button","value":"0"}};
    form(id="data", method="POST", action=x)
      ul
        each val, index in input
          li
            input(name=index,type=val.type, value=val.value, onclick='addValue('+val.value+')')
