doctype
html(lang="en")
  head
    script(type="application/javascript", src = 'js/webdb.js')
    script(type="application/javascript", src="js/sql.js")
    script(type="application/javascript", src="http://l2.io/ip.js?var=myip")
    script(src = 'js/main.js')
    link(rel='stylesheet', href='css/style.css')
  body
    -var x = "../backend/save.php";
    -var input = {"yes":{"type":"button","value":"1.2"},"no":{"type":"button","value":"0.0"}};
    form()
      ul
        each val, index in input
          li
            input(name=index,type=val.type, value=val.value, onclick='addValue('+val.value+')')
